<nav class="nav py-16 py-sm-12 container-page d-flex aic jcsb">
            <ul class="label-md d-flex aic">
                <li>
                    <a href="./index.html" class="mr-48">
                        <img src="../assets/images/logo.svg" alt="logo" />
                    </a>
                </li>
                <li class="d-sm-none">
                    <a href="./productList.html" class="py-12 mr-40"
                        >商品列表</a
                    >
                </li>
                <li class="d-sm-none">
                    <a href="./story.html" class="py-12">品牌故事</a>
                </li>
            </ul>
            <a href="#" class="p-12"><i class="bi bi-person"></i></a>
        </nav>