
        <nav class="container py-16 py-sm-12 col-12 d-flex aic jcsb">
            <ul class="headerLogo label-md d-flex aic">
                <h1>
                    <a href="./index.html" class="mr-48 header-a-hover">
                        URBNSTEP
                    </a>
                </h1>
                <li class="d-sm-none">
                    <a
                        href="./productList.html"
                        class="py-12 mr-40 header-a-hover"
                        >商品列表</a
                    >
                </li>
                <li class="d-sm-none">
                    <a href="./story.html" class="py-12 header-a-hover"
                        >品牌故事</a
                    >
                </li>
            </ul>
            <a href="#" class="p-12 header-a-hover"
                ><i class="bi bi-person"></i
            ></a>
        </nav>
