<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>index</title>
    </head>
    <body>
        <%- include('./layout/header'); -%>

        <!-- nav-sm -->
          <ul class="d-none nav-sm ">
            <li class="nav-list"><a href="productList.html" class="nav-list-smL">商品列表</a></li>
            <li class="nav-list"><a href="story.html" class="nav-list-smR">品牌故事</a></li>
          </ul>    

        <!-- Banner -->
        <div class="index-top-banner">
            <div class="index-top-banner-text">
                <h2 class="display-1 display-2-md mb-16 mb-md-8"> URBNSTEP</h2> 
                <p class="h3 h5-md mb-48 mb-md-32">Your Step, Your Statement</p>
                <button type="button" class="btn btn-primary">立即選購</button>
            </div>
        </div>

        <main>
            <!-- New Arrival -->
            <section class="py-64 py-md-40">
              <div class="container">

                <div class="tac mb-32 mb-md-24">
                  <h2 class="display-2 h2-md mb-12 mb-md-8">New Arrival</h2>
                  <p class="h2 h4-md">新品上市</p>
                </div>
                <ul class="row">
                  <li class="col-6 col-md-2 mb-40 mb-md-24">
                    <img src="/assets/images/new-1.png" alt="新品推薦-1">
                    <h5 class="h5 mb-4">Monoverse</h5>
                    <p class="label-md">NT$3,600</p>
                  </li>
                  <li class="col-6 col-md-2 mb-40 mb-md-24">
                    <img src="/assets/images/new-2.png" alt="新品推薦-2">
                    <h5 class="h5 mb-4">PLATFORM 404</h5>
                    <p class="label-md">NT $2,600</p>
                  </li>
                  <li class="col-6 col-md-2">
                    <img src="/assets/images/new-3.png" alt="新品推薦-3">
                    <h5 class="h5 mb-4">URBN Force</h5>
                    <p class="label-md">NT $3,200</p>
                  </li>
                  <li class="col-6 col-md-2">
                    <img src="/assets/images/new-4.png" alt="新品推薦-4">
                    <h5 class="h5 mb-4">Mode90</h5>
                    <p class="label-md">NT $4,000</p>
                  </li>
                </ul>
              </div>
            </section>

            <!-- 熱銷補貨 -->
            <section class="py-64 py-md-40">
                <div class="container">
                    <h3 class="h2 h4-md mb-16">熱銷補貨</h3>
                    <ul
                        class="row flex-md-nowrap overflow-x-md-auto product-md-row"
                    >
                        <li class="col-3 product-md-col">
                            <div class="product">
                                <span class="product-text">人氣 No.1</span>
                                <img
                                    src="../assets/images/product-3.png"
                                    alt="Melty Kiss"
                                />
                            </div>
                        </li>
                        <li class="col-3 product-md-col">
                            <div class="product">
                                <span class="product-text">人氣 No.1</span>
                                <img
                                    src="../assets/images/image.png"
                                    alt="PLATFORM404"
                                />
                            </div>
                        </li>
                        <li class="col-3 product-md-col">
                            <div class="product">
                                <span class="product-text">人氣 No.1</span>
                                <img
                                    src="../assets/images/product-6.png"
                                    alt="R:UNERK"
                                />
                            </div>
                        </li>
                        <li class="col-3 product-md-col">
                            <div class="product">
                                <span class="product-text">人氣 No.1</span>
                                <img
                                    src="../assets/images/product-4.png"
                                    alt="BOOMBLOK"
                                />
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- BannerSecond -->
            <section class="py-48 py-md-24">
                <div class="index-bannerSecond tac">
                    <h3
                        class="display-2 h2-md index-bannerSecond-color d-md-flex flex-md-column gap-8 mb-16"
                    >
                        <span>URBNSTEP</span>
                        <span class="h1 h3-md span-style px-24">x</span>
                        <span>Kevin Chen</span>
                    </h3>
                    <h3
                        class="h2 h5-md index-bannerSecond-color mb-32 mb-md-24"
                    >
                        跨界聯名，限量發售
                    </h3>
                    <p
                        class="paragraph-lg label-md d-md-flex flex-md-column gap-md-4 subtitle mb-48"
                    >
                        <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
                        <span class="d-md-none">，</span>
                        <span>街頭能量全面引爆！</span>
                    </p>
                    <button type="button" class="btn btn-primary">
                        立即搶購
                    </button>
                    <img
                        src="/assets/images/star.svg"
                        alt="star"
                        class="star-img"
                    />
                    <img
                        src="/assets/images/sparkle.svg"
                        alt="sparkle"
                        class="sparkle-img"
                    />
                </div>
            </section>

            <!-- 依系列選購 -->
            <section class="py-64 py-md-40">
                <div class="container">
                    <h3 class="h2 h4-md mb-16">依系列選購</h3>
                    <ul class="row">
                        <li class="col-3 col-md-2 mb-12">
                            <a href="#" class="category">
                                <img
                                    src="/assets/images/product-6.png"
                                    alt="URBN RUNNER 慢跑系列"
                                />
                                <div class="tac category-text">
                                    <h4 class="h3 h6-sm mb-8">
                                        URBN RUNNER<br /><span class="h4 h6-sm"
                                            >慢跑系列</span
                                        >
                                    </h4>
                                </div>
                            </a>
                        </li>
                        <li class="col-3 col-md-2 mb-12">
                            <a href="#" class="category">
                                <img
                                    src="/assets/images/image.png"
                                    alt="STREETMODE 滑板系列"
                                />
                                <div class="tac category-text">
                                    <h4 class="h3 h6-sm mb-8">
                                        STREETMODE<br /><span class="h4 h6-sm"
                                            >滑板系列</span
                                        >
                                    </h4>
                                </div>
                            </a>
                        </li>
                        <li class="col-3 col-md-2">
                            <a href="#" class="category">
                                <img
                                    src="/assets/images/product-4.png"
                                    alt="CHUNK DISTRICT 厚底系列"
                                />
                                <div class="tac category-text">
                                    <h4 class="h3 h6-sm mb-8">
                                        CHUNK DISTRICT<br /><span
                                            class="h4 h6-sm"
                                            >厚底系列</span
                                        >
                                    </h4>
                                </div>
                            </a>
                        </li>
                        <li class="col-3 col-md-2">
                            <a href="#" class="category">
                                <img
                                    src="/assets/images/product-10.png"
                                    alt="COLLAB ZONE 聯名企劃"
                                />
                                <div class="tac category-text">
                                    <h4 class="h3 h6-sm mb-8">
                                        COLLAB ZONE<br /><span class="h4 h6-sm"
                                            >聯名企劃</span
                                        >
                                    </h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- 穿搭靈感 -->
            <section class="py-64 mb-48 mb-md-24">
                <div class="container">
                    <h3 class="h2 mb-16">穿搭靈感</h3>
                    <!-- 穿搭靈感 整群圖片格線 -->
                    <div class="inspiration-row overflow-x-md-auto">
                        <!-- 圖群左 -->
                        <div class="inspiration-col-4">
                            <!-- 裏頭小群組的格線 -->
                            <div class="inspiration-row">
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-1.png"
                                        alt="穿搭靈感-1"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-2.png"
                                        alt="穿搭靈感-2"
                                    />
                                </div>
                                <div class="inspiration-col-12">
                                    <img
                                        src="/assets/images/inspiration-3.png"
                                        alt="穿搭靈感-3.png"
                                    />
                                </div>
                            </div>
                        </div>
                        <!-- 圖群中 -->
                        <div class="inspiration-col-4">
                            <div class="inspiration-row">
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-4.png"
                                        alt="穿搭靈感-4"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-5.png"
                                        alt="穿搭靈感-5"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-6.png"
                                        alt="穿搭靈感-6"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-7.png"
                                        alt="穿搭靈感-7"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-8.png"
                                        alt="穿搭靈感-8"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-9.png"
                                        alt="穿搭靈感-9"
                                    />
                                </div>
                            </div>
                        </div>
                        <!-- 圖群右 -->
                        <div class="inspiration-col-4">
                            <div class="inspiration-row">
                                <div class="inspiration-col-12">
                                    <img
                                        src="/assets/images/inspiration-10.png"
                                        alt="穿搭靈感-10"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-11.png"
                                        alt="穿搭靈感-11"
                                    />
                                </div>
                                <div class="inspiration-col-6">
                                    <img
                                        src="/assets/images/inspiration-12.png"
                                        alt="穿搭靈感-12"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
    </body>
</html>
